/openbyond-core/grammar/lex.yy.c
/openbyond-core/grammar/parser.tab.c
/openbyond-core/grammar/parser.tab.h
/openbyond-core/grammar/test.exe
/openbyond-core/grammar/test.exe.stackdump
/build
/openbyond-core/bin/Debug/*.pdb
